* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .main-font-size {
    font-size: 0.75rem;
  }
  
  .list-complete-item {
    padding: 4px;
    margin-top: 4px;
    border: solid 1px;
    transition: all 0.2s;
  }
  
  .list-complete-enter, .list-complete-leave-active {
    opacity: 0;
  }