* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .background {
    background-image: url("./images/hifi-dance-i.svg");
    background: linear-gradient(to bottom, #ffffff 0%,#dfdfff 100%);

  }

  .jumbotron-logo {
    background-color: rgba(190, 200, 255, 0.0);
  }

  .grid {
    height: 5px;
    width: 5px;
  }

  .current-dance-background-header {
    background-color: rgba(20, 50, 80, 0.6);
    background-image: url("./hifi-dance-a.svg");
  }

  .current-dance-background {
    background-color: rgba(40, 70, 100, 0.6);
    background-image: url("./hifi-dance-a.svg");
  }

  .current-dance-text {
    color: rgba(255, 255, 255, 1.0);
  }

  .transparent {
    background-color: rgba(255, 255, 255, 0.0);
  }

  .main-font-size {
    font-size: 0.75rem;
  }
  
  .list-complete-item {
    padding: 4px;
    margin-top: 4px;
    border: solid 1px;
    transition: all 0.2s;
  }
  
  .list-complete-enter, .list-complete-leave-active {
    opacity: 0;
  }