body {
    margin: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #cccbcb;
    background: linear-gradient(#2b2b2b, #303030);
}

#loadingContainer {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../images/loadingSpinner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

#titleBarContainer {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 12px;
    font-size: 24px;
    background-color: #121212;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

#infoButton {
    width: 30px;
}

h1 {
    margin: 0;
    font-size: 22px;
}

h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
}

a {
    color: #009ee0;
}

a:visited {
    color: #009ee0;
}

#popupBackground {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); 
}

#popupTitleBar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popupXButton {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

#popupContainer {
    position: absolute;
    top: calc(50% - 43vh - 12px);
    left: calc(50% - 43vw - 12px);
    width: 86vw;
    height: 86vh;
    margin: 0;
    background: #121212;
    color: #FFF;
    font-size: 18px;
    padding: 12px;
}

#popupContentContainer {
    height: calc(86vh - 40px);
    overflow-y: auto;
}

#contentContainer {
    padding: 0 16px;
}

#inputText {
    width: 100%;
    height: 450px;
    margin: 16px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    resize: none;
}

#bottomContainer {
    display: flex;
    height: 120px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#voiceGender {
    text-transform: capitalize;
}

#changeVoiceButton {
    margin: 0;
}

#sayItButton {
    width: 150px;
    height: 70px;
}

input[type=button] {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    min-height: 40px;
    padding: 0px 18px;
    margin: 4px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #000;
    background: linear-gradient(#2e3e8f 20%, #172983 100%);
    cursor: pointer;
}
.selected {
    background: linear-gradient(#009ee0 20%, #009ee0 100%) !important;
}
input[type=button]:enabled:hover {
    background: linear-gradient(#009ee0 20%, #006e9c 100%);
    border: none;
}
input[type=button]:active {
    background: linear-gradient(#009ee0 20%, #009ee0 100%);
}
input[type=button][pressed=pressed] {
    color: #009ee0;
}
