@font-face {
    font-family: "Graphik Regular";
    src: url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Regular.eot");
    src: url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Regular.woff") format("woff"),
    url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Regular.otf") format("opentype"),
    url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Regular.svg") format("svg")
}
@font-face {
    font-family: "Graphik Semibold";
    src: url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Semibold.eot");
    src: url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Semibold.woff") format("woff"),
    url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Semibold.otf") format("opentype"),
    url("https://cdn2.hubspot.net/hubfs/5066246/sr-assets/font/Graphik-Semibold.svg") format("svg")
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Graphik Regular', sans-serif;
    color: #cccbcb;
    background: linear-gradient(#2b2b2b, #303030);
}

#loadingContainer {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../images/loadingSpinner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

#titleBarContainer {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 12px;
    font-size: 24px;
    background-color: #121212;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

#infoButton {
    width: 30px;
}

h1 {
    margin: 0;
    font-size: 22px;
}

h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
}

a {
    color: #009ee0;
}

a:visited {
    color: #009ee0;
}

#popupBackground {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); 
}

#popupTitleBar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popupXButton {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

#popupContainer {
    position: absolute;
    top: calc(50% - 43vh - 12px);
    left: calc(50% - 43vw - 12px);
    width: 86vw;
    height: 86vh;
    margin: 0;
    background: #121212;
    color: #FFF;
    font-size: 18px;
    padding: 12px;
}

#popupContentContainer {
    height: calc(86vh - 50px);
    overflow-y: auto;
}

#contentContainer {
    padding: 0 16px;
}

#inputText {
    width: 100%;
    height: 480px;
    margin: 16px 0;
    font-family: 'Graphik Regular', sans-serif;
    font-size: 26px;
    resize: none;
    padding: 16px;
    line-height: 32px;
}

#bottomContainer {
    display: flex;
    height: 120px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.changeVoiceButtonContainer {
    height: 130px;
    display: flex;
    align-items: flex-end;
    /* play by Saifurrijal from the Noun Project */
    background-image: url('../images/play-inactive.svg');
    background-repeat: no-repeat;
    background-position: 50% 4px;
    background-size: 75px;
}

#changeVoiceContainer > p {
    font-family: 'Graphik Semibold';
    margin: 0 0 8px 0;
    font-size: 18px;
}

#changeVoiceButton {
    margin: 0;
}

#sayItButton {
    width: 150px;
    height: 70px;
    font-size: 26px;
}

#voiceGender,
.genderButton {
    text-transform: capitalize;
}

#languageButtonsContainer,
#genderButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#languageButtonsContainer {
    margin: 0 0 16px 0;
}

#genderButtonsContainer {
    margin: 0 0 16px 0;
}

#voiceButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#languageButtonsContainer > input[type=button],
#genderButtonsContainer > input[type=button] {
    width: 40%;
}

input[type=button] {
    font-family: 'Graphik Semibold';
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    min-height: 40px;
    padding: 0px 18px;
    margin: 4px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #000;
    background: linear-gradient(#2e3e8f 20%, #172983 100%);
    cursor: pointer;
}
.selectedButton {
    background: linear-gradient(#009ee0 20%, #009ee0 100%) !important;
}
.selectedVoice {
    background-image: url('../images/play-active.svg') !important;
}
.closeButton {
    background: transparent !important;
    border-radius: 5px !important;
    border: 2px white solid !important;
    width: calc(100% - 36px);
    position: absolute;
    bottom: 6px;
    left: 12px;
}
input[type=button]:enabled:hover {
    background: linear-gradient(#009ee0 20%, #006e9c 100%);
    border: none;
}
input[type=button]:active {
    background: linear-gradient(#009ee0 20%, #009ee0 100%);
}
input[type=button][pressed=pressed] {
    color: #009ee0;
}
