.hifi-red-text {
    color: #ff001a;   
}
.hifi-red-background {
    background-color: #ff001a;       
}

.hifi-magenta-text {
    color: #ff42a7;    
}
.hifi-magenta-background {
    background-color: #ff42a7;
}

.hifi-netural1-text {
    color: #f1f3ee;   
}
.hifi-netural1-background {
    background-color: #f1f3ee;  
}

.hifi-netural2-text {
    color: #de81d9;
}
.hifi-netural2-background {
    background-color: #de81d9;
}

.hifi-neutral3-text {
    color: #b7c8b9;
}
.hifi-neutral3-background {
    background-color: #b7c8b9;
}

.hifi-neutral4-text {
    color: #7e8c81;
}
.hifi-neutral4-background {
    background-color: #7e8c81;
}

.hifi-black-text {
    color: #000000;   
}
.hifi-black-background {
    background-color: #000000;
}

.hifi-blue-text {
    color: #172983;   
}
.hifi-blue-background {
    background-color: #172983;
}

.hifi-cyan-text {
    color: #009ee0;
}
.hifi-cyan-background {
    background-color: #009ee0;
}

.hifi-green-text {
    color: #009036;    
}
.hifi-green-background {
    background-color: #009036;
}

.hifi-yellow-text {
    color: #ffed00;  
}
.hifi-yellow-background {
    background-color: #ffed00;
}