.vircadia-red-text {
    color: #ff001a;   
}
.vircadia-red-background {
    background-color: #ff001a;       
}

.vircadia-magenta-text {
    color: #8C1AFF;    
}
.vircadia-magenta-background {
    background-color: #8C1AFF;
}

.vircadia-grey-xlite-text {
    color: #f1f3ee;   
}
.vircadia-grey-xlite-background {
    background-color: #f1f3ee;  
}

.vircadia-grey-lite-text {
    color: #d8e1d9;
}
.vircadia-grey-lite-background {
    background-color: #d8e1d9;
}

.vircadia-grey-mid-text {
    color: #b7c8b9;
}
.vircadia-grey-mid-background {
    background-color: #b7c8b9;
}

.vircadia-grey-dark-text {
    color: #7e8c81;
}
.vircadia-grey-dark-background {
    background-color: #7e8c81;
}

.vircadia-black-text {
    color: #000000;   
}
.vircadia-black-background {
    background-color: #000000;
}

.vircadia-blue-text {
    color: #357FFF;   
}
.vircadia-blue-background {
    background-color: #357FFF;
}

.vircadia-cyan-text {
    color: #2CB9FE;
}
.vircadia-cyan-background {
    background-color: #2CB9FE;
}

.vircadia-green-text {
    color: #009036;    
}
.vircadia-green-background {
    background-color: #009036;
}

.vircadia-yellow-text {
    color: #ffed00;  
}
.vircadia-yellow-background {
    background-color: #ffed00;
}
