*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); 
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#loadingContainer {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../images/loadingSpinner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

#firstRun {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: calc(100vh - 60px);
    position: fixed;
    z-index: 998;
    padding: 8px 12px 0 50%;
    font-size: 24px;
    text-align: right;
    display: none;
}

#titleBarContainer {
    display: flex;
    height: 55px;
    padding: 0 16px;
    padding-top: 10px;
    font-size: 24px;
    background-color: #121212;
    color: #ffffff;
    justify-content: space-between;
}

#instructionsContainer {
    /* display: flex-item; */
    /* align-items: column; */
    /* flex-direction: column; */
    /* height: 60px; */
    padding: 20px 16px;
    font-size: 24px;
    /* background-color: #121212; */
    color: #000000;
    /* position: relative; */
    /* justify-content: space-between; */
}

#optionsContainer {
    /* display: flex-item; */
    /* flex-direction: column; */
    /* height: 150px; */
    width: calc(100vw - 24px);
    margin: 24px 12px 0 12px;
    /* position: absolute; */
}

#viewDetailsContainer {
    /* display: flex-item; */
    /* flex-direction: column; */
    height: 150px;
    width: 100vw;
    /* margin: 24px 12px 0 12px; */
    /* position: absolute; */
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 12px;
    font-size: 18px;
}

#instructions {

}
  
#instructions > div {
    margin: 12px 0px;
}


/* Switch CSS */
.switch {
    position: relative;
    display: block;
    width: 70px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

  
input:checked + .slider {
    background-color: #00b4ef;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #00b4ef;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#sizeSlider {
    position: relative;
    top: 6px;
    left: 5px;
}
