body {
    margin: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #cccbcb;
    background: linear-gradient(#2b2b2b, #303030);
}

#loadingContainer {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../images/loadingSpinner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

#titleBarContainer {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 16px;
    font-size: 24px;
    background-color: #121212;
    color: #ffffff;
    justify-content: space-between;
}

#modalContainer {
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 998;
}

#modalContentContainer {
    background-color: #FFF;
    color: #000;
    font-size: 22px;
    padding: 16px;
    /* The below styles will position this modal 
    in the center of the screen, horizontally and veritcally */
    width: calc(80% - 32px);
    height: calc(50vh - 32px);
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -25vh;
    margin-left: -40%;
}

#modalTextContainer {
    margin-top: 16px;
}

#modalButtonContainer {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

#formContainer,
#statusContainer {
    padding: 16px;
    font-size: 22px;
}

#statusContainer {
    height: 150px;
}

#formContainer > form > div {
    margin: 16px 0;
}

form {
    margin: 0;
}

input[type=text] {
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 14px;
}

input[type=submit], input[type=button] {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    vertical-align: top;
    height: 40px;
    min-width: 50px;
    padding: 0px 18px;
    margin-right: 6px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #000;
    background: linear-gradient(#343434 20%, #000 100%);
    cursor: pointer;
}
input[type=submit]:enabled:hover,
input[type=button]:enabled:hover {
    background: linear-gradient(#000, #000);
    border: none;
}
input[type=submit]:active,
input[type=button]:active {
    background: linear-gradient(#343434, #343434);
}
input[type=submit][pressed=pressed],
input[type=button][pressed=pressed] {
    color: #00b4ef;
}
