* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .list-complete-item {
    padding: 4px;
    margin-top: 4px;
    border: solid 1px;
    transition: all 0.2s;
  }
  
  .list-complete-enter, .list-complete-leave-active {
    opacity: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

.nav-tabs .nav-link {
    border: 2px solid transparent;
    border-top-left-radius: 0; /* .25rem; */
    border-top-right-radius: 0;
}

.card-visited {
    border: 5px solid green;
}

.col-sm {
    padding: 0px;
}

.align-bottom-wrapper {
    min-height: 64px; /* min-height: 25px; */
    position: relative;
}

.align-bottom-left {
    position: absolute;
    bottom: 0;
}

.align-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card {
    border-radius: 0px;
    /* max-height: 200px; */
}

.card-body {
    padding: 0.5rem;
    /* height: 150px; */
}

.row {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
}
.col-sm {
    padding: 5px;
}

.ghost {
    visibility: hidden;
}

/* #nav-domains {
    height: 700px;
} */

.avatar-card {
    min-height: 150px;
}

.text-center {
    text-align: center;
}

.text-size-icon {
    font-size: 4em;
    margin-left: -10px;
    margin-bottom: -10px;
}

.stroke {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: green;
}

.stroke:hover {
    color: green;
}