body {
    margin: 10;
    width: 100% - 10px;
    font-family: 'Raleway', sans-serif;
    color: #cccbcb;
    background: linear-gradient(#2b2b2b, #303030);
}


input[type=button]:disabled {
    color: #252525;
    background: linear-gradient(#575757 20%, #252525 100%);
}

input[type=button][pressed=pressed] {
    color: #00b4ef;
}
