
#title {
    margin: 10;
    width: 100% - 50px;
    font-family: 'Squada One';
    font-size: 24px;    
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.heading span {
    color: #00fff2;
    align-items: center;
    justify-content: center;
}

body {
    margin: 20;
    width: 100% - 50px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background: linear-gradient(#570072, #6b43fa);
    background-size: cover;
}

input[type=button] {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    vertical-align: top;
    height: 28px;
    min-width: 50px;
    padding: 0px 18px;
    margin-right: 20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #000;
    background: linear-gradient(#343434 20%, #000 100%);
    cursor: pointer;
}

input[type=button].gray {
    color: #121212;
    background: linear-gradient(#9dff00 20%, #ffee00 100%);
}

input[type=button]:enabled:hover {
    background: linear-gradient(#000, #000);
    border: none;
}

input[type=button].gray:enabled:hover {
    background: linear-gradient(#fff, #fff);
    border: none;
}

input[type=button]:active {
    background: linear-gradient(#343434, #343434);
}
input[type=button].gray:active {
    background: linear-gradient(#afafaf, #afafaf);
}

input[type=button]:disabled {
    color: #525252;
    background: linear-gradient(#1d1d1d 20%, #000000 100%);
}

input[type=button][pressed=pressed] {
    color: #fbff00;
}

.correct {
    color: #ef9b00;
    font-weight: bold;
}

.dropdown {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    width: 132px;
}

.dropdown select {
    clear: both;
}

.dropdown:focus {
    border: none;
    outline: none;
}

.dropdown li {
    list-style-type: none;
    padding: 3px 0 1px 12px;
    width: 120px;
    height: auto;
    font-size: 15px;
    color: #404040;
    background-color: #d4d4d4;
    z-index: 999;
}

.dropdown li:hover {
    background-color: #e6eaeb;
}

.styled-select { 
    height: 50px;
    overflow: hidden;
    width: 290px;
 }

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #dddcdc;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-items a:hover {
    background-color: #f1f1f1
}

.dropdown-type {
    margin:0;
    padding: 0
}

.dropdown-difficulty {
    margin:0;
    padding: 0
}

.dropdown-category {
    margin:0;
    padding: 0
}

#categoryDropdown {
    width: 210px
}
#categoryDropdown li{
    width: 210px
}

 .show {
    display:block;
}
