* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Black Han Sans', sans-serif; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Audiowide', cursive; */
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: 'Mitr', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
  }

  .background {
    background-image: url("./images/hifi-dance-i.svg");
    background: linear-gradient(to bottom, #FFAAFF 0%,#2D5D7B 100%);

  }

  .jumbotron-logo {
    background-color: rgba(190, 200, 255, 0.0);
  }

  .logo {
    background-color: #457EAC;
    /* background-color: #C2AFF0; */
  }

  .blue {
    background-color: #457EAC;

  }

  .dance-names {
    background-color: #9191E9;

  }

  .sticky-top {
    background-color: #2D5D7B;
  }

  .instructions {
    background-color: #C2AFF0;
  }

  .menu {
    color: #2D5D7B;
  }

  .delete {
    color: #FF5555;
  }

  .grid {
    height: 6rem;
    background: #C2AFF0;
  }

  .dance-toggle {
    background-color: #9191E9;
    color: #FFFFFF;
  }

  .dance {
    height: 6rem;
  }

  .border-3 {
    border-width:3px !important;
  }

  .select-border {
    border-width: 2rem;
    border-color: white;
  }

  .current-dance-background-header {
    background-color: rgba(20, 50, 80, 0.6);
    background-image: url("./hifi-dance-a.svg");
  }

  .current-dance-background {
    background-color: rgba(40, 70, 100, 0.6);
    background-image: url("./hifi-dance-a.svg");
  }

  .current-dance-text {
    color: rgba(255, 255, 255, 1.0);
  }

  .white-text {
    color: rgba(255, 255, 255, 1.0);
  }

  .red {
    color: red;
  }

  .transparent {
    background-color: rgba(255, 255, 255, 0.0);
  }

  .main-font-size {
    font-size: 0.75rem;
  }
  
  .list-complete-item {
    padding: 4px;
    margin-top: 4px;
    border: solid 1px;
    transition: all 0.2s;
  }
  
  .list-complete-enter, .list-complete-leave-active {
    opacity: 0;
  }