body {
    margin: 10;
    width: 100% - 10px;
    font-family: 'Raleway', sans-serif;
    color: #cccbcb;
    background: linear-gradient(#2b2b2b, #303030);
}

.top-bar {
    height: 90px;
    background: linear-gradient(#2b2b2b, #303030);
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 480px;
    top: 0;
    z-index: 1;
}

.content {
    margin-top: 90px;
    padding: 30px;
}

td {
    width: 20%
}

table {
    width: 100%;
    text-align: center
}

input[type=button] {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: top;
    height: 28px;
    min-width: 50px;
    padding: 0px 18px;
    margin-right: 6px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #000;
    background: linear-gradient(#343434 20%, #000 100%);
    cursor: pointer;
}
input[type=button].gray {
    color: #121212;
    background-color: #949494;
    background: linear-gradient(#949494 20%, #cacaca 100%);
}

input[type=button]:enabled:hover {
    background: linear-gradient(#000, #000);
    border: none;
}

input[type=button].gray:enabled:hover {
    background: linear-gradient(#fff, #fff);
    border: none;
}

input[type=button]:active {
    background: linear-gradient(#343434, #343434);
}
input[type=button].gray:active {
    background: linear-gradient(#afafaf, #afafaf);
}

input[type=button]:disabled {
    color: #252525;
    background: linear-gradient(#575757 20%, #252525 100%);
}

input[type=button][pressed=pressed] {
    color: #00b4ef;
}

.correct {
    color: #00b4ef;
}

.dropdown {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    width: 132px;
}

.dropdown select {
    clear: both;
}

.dropdown:focus {
    border: none;
    outline: none;
}

.dropdown li {
    list-style-type: none;
    padding: 3px 0 1px 12px;
    width: 120px;
    height: auto;
    font-size: 15px;
    color: #404040;
    background-color: #d4d4d4;
    z-index: 999;
}

.dropdown li:hover {
    background-color: #e6eaeb;
}

.styled-select { 
    height: 50px;
    overflow: hidden;
    width: 290px;
 }

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #dddcdc;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-items a:hover {
    background-color: #f1f1f1
}

.dropdown-type {
    margin:0;
    padding: 0
}

.dropdown-difficulty {
    margin:0;
    padding: 0
}

.dropdown-category {
    margin:0;
    padding: 0
}

#categoryDropdown {
    width: 210px
}
#categoryDropdown li{
    width: 210px
}

 .show {
    display:block;
}

.button-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(6, 90px);
}

.button-headers-container {
    background-image:url("../images/bingo-card-head.png");
    background-size: 452px 86px;
    background-position:center;
    width:450px;
    height:90px;
}

.button-number {
    background-color: white;
    font-size: 2em;
}

.button-free {
    background-color: white;
    font-size: 2em;
}

.button-letter {
    font-size: 5em;
    background-color: rgba(255, 255, 255, 0);
    height: 90px;
    width: 90px;
    border: 0;
}

.card-pink {
    background: rgb(255, 0,119);
}

.card-blue {
    background: rgb(0, 196, 247);
}

.card-yellow {
    background: rgb(227, 255, 66);
}

.card-green {
    background: rgb(30, 255, 0);
}

.selected {
    background-color: black;
    color: white;
}

.bottomPanel {
    margin-top: -60px;
    text-align: center;
    width: 100%;
}

#BingoButton {
    margin: 0px;
    padding: 10px;
    font-size: 2em;
    font-family: 'Raleway';
    font-weight: bold;
    vertical-align: top;
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #fff;
    background: linear-gradient(#f59ee6 20%, rgb(132, 124, 240) 100%);
    cursor: pointer;
}

#BingoButton:enabled:hover {
    background: linear-gradient(#8f0070, #43008f);
    color: #fff;
    border: none;
}

