@font-face {
  font-family: 'Graphik-Regular';
  src: url(../../resources/fonts/Graphik-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url(../../resources/fonts/Graphik-Semibold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  position: absolute;
  width: 470px;
  height: 143px;
  left: 23px;
  top: -20px;
  
  font-family: 'Graphik-Semibold';
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  
  color: #FFFFFF;
}

h2 {
  position: absolute;
  width: 470px;
  height: 84px;
  left: 23px;
  top: 175px;
  
  font-family: 'Graphik-Regular';
  font-size: 24px;
  line-height: normal;
  text-align: center;
  
  color: #FFFFFF;
}

#h1TopRight {  
  position: absolute;
  width: 43px;
  height: 39px;
  left: 472px;
  top: 0px;
  background: url(../../resources/images/TopRightCorner_Shard.png);
}

#h1BottomLeft {
  position: absolute;
  width: 93px;
  height: 175px;
  left: 0px;
  top: 145px;
  background: url(../../resources/images/BottomLeftCorner_Shard.png);
}

#h1background {
  position: absolute;
  width: 515px;
  height: 320px;
  left: 0px;
  top: 0px;
  background: #000000;
}

input[type=button]:enabled {
  border: none;
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 80px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_normal_web@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

input[type=button]:enabled:hover {
  border: none;
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 80px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_focus_web@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

input[type=button]:enabled:active {
  border: none;
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 80px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_pressed_web@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

input[type=button]:disabled {
  border: none;
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 80px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_disabled_web@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#privacy {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 300px;
  top: 723px;

  font-family: 'Graphik-Regular';
  font-size: 14px;
  line-height: normal;
  text-align: right;

  color: #828282;
}

#tos {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 18px;
  top: 723px;
  
  font-family: 'Graphik-Regular';
  font-size: 14px;
  line-height: normal;
  
  color: #828282;
} 

a:link {
  color: #828282;
  text-decoration: none;
} 
a:visited {
  color: #828282;
  text-decoration: none;
} 
a:hover {
  color: #86edff;
  text-decoration: underline;
} 
a:active {
  color: #000000;
  text-decoration: underline;
} 