@font-face {
  font-family: 'Graphik-Regular';
  src: url(../../resources/fonts/Graphik-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url(../../resources/fonts/Graphik-Semibold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  position: absolute;
  width: 470px;
  height: 143px;
  left: 23px;
  top: -20px;
  
  font-family: 'Graphik-Semibold';
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  
  color: #FFFFFF;
}

#headingTopRight {  
  position: absolute;
  width: 43px;
  height: 39px;
  left: 472px;
  top: 0px;
  background: url(../../resources/images/TopRightCorner_Shard.png);
}

#headingBottomLeft {
  position: absolute;
  width: 93px;
  height: 175px;
  left: 0px;
  top: 145px;
  background: url(../../resources/images/BottomLeftCorner_Shard.png);
}

#headingBg {
  position: absolute;
  width: 515px;
  height: 320px;
  left: 0px;
  top: 0px;
  background: #000000;
}

h2 {
  position: absolute;
  width: 470px;
  height: 84px;
  left: 23px;
  top: 175px;
  
  font-family: 'Graphik-Regular';
  font-size: 24px;
  line-height: normal;
  text-align: center;
  
  color: #FFFFFF;
}

input[type=button].login:disabled {
  border: none;
  position: absolute;
  width: 371px;
  height: 80px;
  left: 72px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_disabled_web@2x.png);
  background-repeat: no-repeat;
  background-size: 371px 80px;
}

input[type=button].login:active {
  width: 371px;
  height: 80px;
  border: none;
  position: absolute;
  left: 72px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_normal_web@2x.png);
  background-repeat: no-repeat;
  background-size: 371px 80px;
}

input[type=button].login:enabled:hover {
  border: none;
  position: absolute;
  width: 371px;
  height: 80px;
  left: 72px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_focus_web@2x.png);
  background-repeat: no-repeat;
  background-size: 371px 80px;
}

input[type=button].login[pressed=pressed] {
  border: none;
  position: absolute;
  width: 371px;
  height: 80px;
  left: 72px;
  top: 480px;  
  background: url(../../resources/images/btn_google_signin_dark_pressed_web@2x.png);
  background-repeat: no-repeat;
  background-size: 371px 80px;
}

#privacy {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 300px;
  top: 723px;

  font-family: 'Graphik-Regular';
  font-size: 14px;
  line-height: normal;
  text-align: right;

  color: #828282;
}

#tos {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 18px;
  top: 723px;
  
  font-family: 'Graphik-Regular';
  font-size: 14px;
  line-height: normal;
  
  color: #828282;
} 

a:link {
  color: #828282;
} 
a:visited {
  color: #000000;
} 
a:hover {
  color: #86edff;
} 
a:active {
  color: #828282;
} 