*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #393939;
    color: #afafaf;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mainContainer {
  width: 100vw;
  height: 100vh;
}

#loadingContainer {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../images/loadingSpinner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

#titleBarContainer {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 16px;
    font-size: 24px;
    background-color: #121212;
    color: #ffffff;
    justify-content: space-between;
  }